.button {
  margin: 20px auto;
  position: relative;
  cursor: pointer;
  padding: 0.8em 4em;
  border: 2px solid #05fdd8;
  color: #05fdd8;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  z-index: 1;
}

.button:active {
  transform: scale(0.95);
}

.button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: #05fdd8;
  transition: transform 0.3s;
}

.button:hover {
  @apply text-primary;
}

.btn {
  overflow: hidden;
}

.btn::before {
  right: auto;
  bottom: auto;
  width: 120%;
  height: 100%;
  transform-origin: left top;
  transform: skewX(-30deg) scale(0, 1);
}
.btn:hover::before {
  transform-origin: right top;
  transform: skewX(-30deg) scale(1, 1);
}
