@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Space Grotesk", sans-serif;
  @apply bg-primary min-h-screen text-base-100;
}

section {
  display: grid;
  place-items: center;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #0a192f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background-color: #64ffda;
  border-radius: 10px;
}

::-moz-selection {
  @apply bg-primary-green;
}

::selection {
  @apply bg-primary-green;
}

.active {
  @apply text-primary-aqua;
}

span {
  @apply relative inline-block cursor-default mt-2;
}

.react-tabs {
  @apply mt-10 w-full h-auto flex flex-col md:items-start items-center md:flex-row border-none;
}

.react-tabs__tab-list {
  @apply flex flex-row md:flex-col w-full md:w-44 m-0 p-0;
}

.react-tabs__tab {
  @apply mb-6 md:mb-0 outline-none w-full transition duration-300 text-blue-font text-xs cursor-pointer h-12 flex justify-start items-center p-2;
}

.react-tabs__tab:hover {
  @apply bg-warning;
}

.react-tabs__tab--selected {
  @apply border-b-2 md:border-b-0 md:border-l-2 border-primary-green bg-warning text-primary-green;
}

.react-tabs__tab-panel {
  @apply hidden w-56 ml-0 md:ml-4;
}

.react-tabs__tab-panel--selected {
  @apply block;
}

.panel-content {
  text-align: center;
}

.tagcloud {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: auto;
  width: 50%;
}

.tagcloud--item:hover {
  color: #36454f;
}
